[submodule "external/molokai"]
	path = external/molokai
	url = https://github.com/tomasr/molokai
[submodule "external/zsh-git-prompt"]
	path = external/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
[submodule "external/LS_COLORS"]
	path = external/LS_COLORS
	url = git://github.com/trapd00r/LS_COLORS.git
[submodule "external/external/zsh-livestreamer-completion"]
	path = external/external/zsh-livestreamer-completion
	url = https://github.com/Valodim/zsh-livestreamer-completion
[submodule "external/zsh-livestreamer-completion"]
	path = external/zsh-livestreamer-completion
	url = https://github.com/Valodim/zsh-livestreamer-completion
[submodule "external/vim-colors-solarized"]
	path = external/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
